name: Scheduled

on:
  schedule:
    - cron:  '0 10 * * *'
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}:latest

jobs:
  greet:
    runs-on: ubuntu-latest

    steps:
    
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
          
    - name: Run docker
      run: docker run -e USER_EMAIL=${{ secrets.USER_EMAIL }} -e USER_PASS=${{ secrets.USER_PASS }} ${{ env.IMAGE_NAME }}
